workflow_github_ready.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2266d704-1d78-48ed-9781-a3ef6c3f1da6",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "607d25f8-327a-4eac-8c38-faa6123aa12d",
      "name": "Webhook",
      "webhookId": "2266d704-1d78-48ed-9781-a3ef6c3f1da6"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\n\nconst from = payload.From || payload.from || \"\";\nconst user_phone = from.replace(/^whatsapp:/, \"\");\n\nconst user_name =\n  payload.ProfileName ||\n  payload.profileName ||\n  \"Unknown\";\n\nconst text =\n  payload.Body ||\n  payload.body ||\n  \"\";\n\nconst media_url =\n  payload.MediaUrl0 ||\n  \"\";\n\nreturn {\n  user_phone,\n  user_name,\n  text,\n  media_url,\n};\n\nif (!/^\\+?\\d{10,15}$/.test(user_phone)) { throw new Error('Invalid phone number'); }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "ac3296a8-8c98-44d1-9d96-977455c7791d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1uM-A-7TgmlMcSVo5DCpmCT1Hso96PxWQ6j-3828TkGc/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Users",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "number",
              "lookupValue": "={{ $json.user_phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "5af3f212-82fc-424a-9c51-da17194fc497",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cdf4ed4d-f898-4c35-ac94-da1464f2433e",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "97315325-2167-4086-87df-8f7ad3179972",
      "name": "If",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1uM-A-7TgmlMcSVo5DCpmCT1Hso96PxWQ6j-3828TkGc/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Users",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Code in JavaScript').item.json.user_name }}",
            "number": "={{ $('Code in JavaScript').item.json.user_phone }}",
            "media_url": "={{ $('Code in JavaScript').item.json.media_url }}",
            "state": "AWAITING-DOCUMENT"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "media_url",
              "displayName": "media_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        224
      ],
      "id": "26f86085-fc55-4d19-84bd-f1d65b26c749",
      "name": "Append row in sheet",
      "alwaysOutputData": true,
      "credentials": {}
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "AWAITING-DOCUMENT",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f036c6bc-f3e6-4ed4-8cec-a22e51fe69af"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "awaiting_doc"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1c7b8ddc-6513-4828-a398-077bb1f4b05e",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "DOCUMENT-PROCESSING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "doc_process"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6e35f8a8-a01b-4179-98c2-4ae5c89811f0",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "PAYMENT-PENDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pay_pen"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "16eb2a0e-c4ad-4a9f-a125-57a56d67152b",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "VISA-STATUS-AVAILABLE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "visa_av"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        880,
        -144
      ],
      "id": "75030a1e-31f4-45b5-b45f-a52f7f453b82",
      "name": "Switch"
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Code in JavaScript').item.json.user_phone }}",
        "toWhatsapp": true,
        "message": "=Hi  {{ $('Code in JavaScript').item.json.user_name }}, Thanks for contacting us. Please share your travel document.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        832,
        64
      ],
      "id": "a4cea9f2-94f9-4c20-b209-b5971bc4fba5",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {}
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "108eb28b-0d94-4985-9292-b213ee6e0bcd",
              "leftValue": "={{ $('Code in JavaScript').item.json.media_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1056,
        -304
      ],
      "id": "6af034cf-cd61-4f56-bc1b-b28445173b71",
      "name": "Check_document"
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Code in JavaScript').item.json.user_phone }}",
        "toWhatsapp": true,
        "message": "=Hi  {{ $('Code in JavaScript').item.json.user_name }}, Thanks for contacting us. Please share your travel document to process with your case",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1392,
        -112
      ],
      "id": "83155d8d-d96c-453f-8159-4fb1ec6045a5",
      "name": "Send an SMS/MMS/WhatsApp message1",
      "credentials": {}
    },
    {
      "parameters": {
        "url": "={{ $('Code in JavaScript').item.json.media_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1264,
        -432
      ],
      "id": "a5dc38c0-d5bf-4fea-950e-7fc7902c5f67",
      "name": "HTTP Request",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1uM-A-7TgmlMcSVo5DCpmCT1Hso96PxWQ6j-3828TkGc/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Users",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "number": "={{ $json.number }}",
            "media_url": "={{ $('Code in JavaScript').item.json.media_url }}",
            "state": "DOCUMENT-PROCESSING"
          },
          "matchingColumns": [
            "number"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "media_url",
              "displayName": "media_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        -320
      ],
      "id": "81359781-a623-4dbc-af2e-03f77a9e2fe6",
      "name": "Update row in sheet",
      "alwaysOutputData": true,
      "credentials": {}
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Code in JavaScript').item.json.user_phone }}",
        "toWhatsapp": true,
        "message": "=Hi  {{ $('Code in JavaScript').item.json.user_name }}, Thanks for Providing your document. Your document is currently underprocesss, please wait till then.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1600,
        -192
      ],
      "id": "8c85d1be-6279-4409-93a1-6e4ca3ba637e",
      "name": "Send an SMS/MMS/WhatsApp message2",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LLAMA_PARSE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1456,
        -464
      ],
      "id": "14d6d8a1-b54c-4a3e-893a-630002e31e6a",
      "name": "HTTP Request1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1664,
        -464
      ],
      "id": "6eef645f-6594-465c-87f6-974a78e8292b",
      "name": "Wait",
      "webhookId": "7d174b59-d374-4dd8-9e1b-ac07ec343599"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $('HTTP Request1').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LLAMA_PARSE_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1840,
        -464
      ],
      "id": "e5253f3a-ce9b-4ce5-863e-19d61808c135",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.LLAMA_PARSE_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2176,
        -480
      ],
      "id": "4bcd8f68-c5c2-4f74-b945-3b6ffb944245",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "62f2b271-e17f-485c-8578-a7d46dd53b7b",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2000,
        -464
      ],
      "id": "0fcc6780-df31-4645-bfaa-8413f95d7d6a",
      "name": "If1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.markdown }}",
        "messages": {
          "messageValues": [
            {
              "message": "Extract passport number and return ONLY valid JSON in this format:  {   \"passport_number\": \"value\" }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2352,
        -480
      ],
      "id": "65ec0491-ad74-47bd-a7ca-da97884b2bec",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2448,
        -288
      ],
      "id": "15a58d37-17e6-4b42-9b9b-42b2a2a5f9d0",
      "name": "Groq Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1uM-A-7TgmlMcSVo5DCpmCT1Hso96PxWQ6j-3828TkGc/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Cases",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "number": "={{ $('Code in JavaScript').item.json.user_phone }}",
            "passport_number": "={{ JSON.parse($json.text.replace(/```json\\n?|```/g, '').trim()).passport_number }}",
            "payment_status": "pending"
          },
          "matchingColumns": [
            "number"
          ],
          "schema": [
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "passport_number",
              "displayName": "passport_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2704,
        -480
      ],
      "id": "9c37fcaf-aed2-46b4-b8b9-9700419ee52d",
      "name": "Append row in sheet1",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1uM-A-7TgmlMcSVo5DCpmCT1Hso96PxWQ6j-3828TkGc/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Users",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "number": "={{ $('Get row(s) in sheet').item.json.number }}",
            "media_url": "={{ $('Code in JavaScript').item.json.media_url }}",
            "state": "PAYMENT-PENDING"
          },
          "matchingColumns": [
            "number"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "media_url",
              "displayName": "media_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2752,
        -288
      ],
      "id": "e407bd3f-0d23-4f77-a28a-da3bf6274fff",
      "name": "Update row in sheet1",
      "alwaysOutputData": true,
      "credentials": {}
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Code in JavaScript').item.json.user_phone }}",
        "toWhatsapp": true,
        "message": "=Hi  {{ $('Code in JavaScript').item.json.user_name }}, Thanks for contacting us. Please waot your documents are under process.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1152,
        -80
      ],
      "id": "76f4f9c5-b3dc-4963-b8c0-0374dc8d7050",
      "name": "Send an SMS/MMS/WhatsApp message3",
      "credentials": {}
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Code in JavaScript').item.json.user_phone }}",
        "toWhatsapp": true,
        "message": "=Hi  {{ $('Code in JavaScript').item.json.user_name }}, Thanks for contacting us. Please make the payment to continue further process.\nThanks for contacting..",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1168,
        48
      ],
      "id": "b60d749a-ffd2-4269-a6eb-10b6d466e92a",
      "name": "Send an SMS/MMS/WhatsApp message4",
      "credentials": {}
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Code in JavaScript').item.json.user_phone }}",
        "toWhatsapp": true,
        "message": "=Hi  {{ $('Code in JavaScript').item.json.user_name }}, Thanks for contacting us. Your visa is ready download it from our website.\nThanks for contacting..\n",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1168,
        192
      ],
      "id": "9f5a029c-167b-446c-9b30-42e674574c99",
      "name": "Send an SMS/MMS/WhatsApp message5",
      "credentials": {}
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1uM-A-7TgmlMcSVo5DCpmCT1Hso96PxWQ6j-3828TkGc/edit?pli=1&gid=1811228287#gid=1811228287",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": 1811228287
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "payment_status"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        80,
        496
      ],
      "id": "855d8af3-91c6-4ef4-8655-2dbb0fcf05a8",
      "name": "Google Sheets Trigger",
      "credentials": {}
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $json.number }}",
        "toWhatsapp": true,
        "message": "=Your payment has been accpeted. You can check your visa here.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        352,
        432
      ],
      "id": "e0b2ba3a-30e5-438c-b5f4-6ec99862c67d",
      "name": "Send an SMS/MMS/WhatsApp message6",
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1uM-A-7TgmlMcSVo5DCpmCT1Hso96PxWQ6j-3828TkGc/edit?pli=1&gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Users",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "number": "={{ $json.number }}",
            "state": "VISA-STATUS-AVAILABLE"
          },
          "matchingColumns": [
            "number"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "media_url",
              "displayName": "media_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        656
      ],
      "id": "631cfce1-f153-4901-a76c-8b596a4c6ffa",
      "name": "Update row in sheet2",
      "alwaysOutputData": true,
      "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Check_document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_document": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an SMS/MMS/WhatsApp message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "30915998-95d8-4839-ba14-0cdeab7a644f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "01d96da58a17103c2ee0fb664f510b0e45aee6ea4df68f677e71bd25f1a04bee"
  },
  "nodeGroups": [],
  "id": "AV7vF3KCsy1oNy9f",
  "tags": []
}